{% from "_form_helper.html" import render_field %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<p>Hello, {{ current_user.username }}</p>
<a href="{{ url_for('.logout') }}">log out</a>
</body>
</html>