{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <p>Hello, {{ current_user.username }}</p>
    <p><a href="{{ url_for('.change_address') }}">Change Receiving Address</a></p>

    <form action="{{ url_for('pay.start_payment') }}" method="POST">
        <input id="receiving_address" name="receiving_address" type="hidden" value="{{ current_user.receiving_address }}">
        {% for field in form %}
            {{ render_field(field) }}
        {% endfor %}
    </form>

    <p><a href="{{ url_for('.logout') }}">log out</a></p>
{% endblock %}
