<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="{{ url_for('.home') }}" class="site_title"><i class="fa fa-spinner"></i> <span>Pay with Nano</span></a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
        <div class="profile_pic">
            <img src="/static/images/img.jpg" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
            <span>Welcome,</span>
            <h2> {{ current_user.username }} </h2>
        </div>
    </div>
    <!-- /menu profile quick info -->

    <br/>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                <li><a href="{{ url_for('.dashboard') }}"><i class="fa fa-line-chart"></i> Dashboard </a></li>
                <li><a href="{{ url_for('.transaction_history') }}"><i class="fa fa-history"></i> Transaction History </a></li>
                <li><a href="{{ url_for('.settings') }}"><i class="fa fa-gear"></i> Settings </a></li>
            </ul>
        </div>
        <div class="menu_section">
            <ul class="nav side-menu">
                <li><a href="{{ url_for('.launch_pos') }}" class="alert alert-success" id="start-pos"><i class="fa fa-credit-card"></i> Go to Point-of-Sale </a></li>
            </ul>
        </div>
    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Logout" href="{{ url_for('.logout') }}">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
    </div>
    <!-- /menu footer buttons -->
</div>
